/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: oklch(0.44 0.21 258.48);
	--accent-light: #0b80ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 16px rgba(var(--gray), 23%);
}

html {
	scrollbar-gutter: stable;
}

body {
	font-family: system-ui;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: rgb(253 254 255);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 18px;
	line-height: 1.6;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
	min-height: calc(100vh - 250px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 23px;
}
h3 {
	font-size: 20px;
	font-weight: 550;
	font-stretch: 95%;
}
h4 {
	font-size: 19px;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 1.5em;
}

.prose h2 {
	margin-top: 1.5em;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	display: block;
	height: auto;
	border-radius: 8px;
}

video {
	max-width: 100%;
}

li {
    margin-bottom: 6px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding-inline: 1.4em;
	padding-block: 1em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}

code * {
	font-family: ui-monospace, monospace;
}

pre, code {
	font-size: 15px !important;
}

h2 code {
	font-size: 19px !important;
}

blockquote {
	border-left: 4px solid var(--accent-light);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 18px;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

* {
	box-sizing: border-box;
}


.fancy-button {
	background-image: linear-gradient(rgb(104, 98, 234), rgb(70, 66, 194));
	text-shadow: rgba(4, 0, 108, 0.408) 1px 1px 1px;
	border: 1px solid rgb(91, 81, 192);
	color: rgb(250, 250, 250) !important;
	font-size: 16px;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px 0px inset;
	border-radius: 6px;
	font-family: system-ui;
	padding-block: 8px;
	padding-inline: 32px;
	font-weight: 500;
	text-decoration: none;
	margin-inline: auto;
  }
  
  .less-fancy-button {
	margin-inline: auto;
	background-color: rgb(76, 69, 212);
	border: 1px solid rgb(91, 81, 192);
	color: rgb(250, 250, 250) !important;
	font-size: 16px;
	border-radius: 6px;
	font-family: system-ui;
	padding-block: 8px;
	padding-inline: 32px;
	font-weight: 500;
	text-decoration: none;
  }
  
  .button-container .less-fancy-button:hover, .button-container .fancy-button:hover {
	cursor: pointer;
	color: white !important;
  }
  
  @font-face {
	font-family: "mishmashmoji";
	src: url("/MishMashMojiCOLRv1.woff2") format(woff2) tech(color-COLRv1),
		 url("/Kablammo-Regular-VariableFont_MORFCOLOR-Zoink-SVG.woff2") format(woff2) tech(color-SVG);
  }
  
  .custom-emoji {
	font-family: "mishmashmoji";
	font-display: block;
	letter-spacing: 4px;
	font-size: 54px;
	text-align: center;
	font-weight: 400;
	margin: auto;
	text-wrap: balance;
	/* font-variant-emoji: emoji; */
	line-height: 1.2;
  }

  :root {
    --color-fill: 251, 254, 251;
    --color-text-base: 40, 39, 40;
    --color-accent: 11, 128, 255;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 11, 128, 255;
  }

  .title + h2 {
	margin-top: 0;
  }

  p:has(+ pre) {
    margin-bottom: 1em !important;
}

@media (max-width: 500px) {
	h1 {
		font-size: 32px;
	}
}

p:has(+ ul), p:has(+ ol) {
	margin-bottom: .5em !important;
}

figure {
	margin-inline: 0;
}

.font-small {
	font-size: 15px;
}

figcaption {
	font-size: 14px;
}

.warning {
	background-color: oklch(0.86 0.1 4.48);
    padding: 12px 16px;
    border-radius: 8px;
	margin-bottom: 1.5em;
}

/* USED BY centering things ARTICLE! */
.btn-example {
	font-size: 17px;
	background-color: #78FFB7;
	padding: 8px 24px;
	border: 0;
	border-radius: 8px;
}

/* for icons article */

@font-face {
	font-family: 'icons';
	src: url('/MaterialIconsTwoTone-Regular.otf');
}

.duotone-icons {
	font-family: icons;
	font-palette: --Blue;
	font-weight: 400;
	letter-spacing: 5px;
	text-align: center;
	font-size: 32px;
	margin-inline: auto;
	font-display: block;
	margin-top: 0 !important;
}

@font-palette-values --Blue {
	font-family: icons;
	override-colors:
	 0 blue,
	 1 #afd4f6,
	 2 blue,
	 3 blue,
	 4 #007bed;
  }

  @font-palette-values --Pink {
	font-family: icons;
	override-colors:
	 0 pink,
	 1 color(display-p3 1 0.725 0.892),
	 2 pink,
	 3 pink,
	 4 oklch(0.74 0.25 348.95);
  }

  .icons-pink {
	font-palette: --Pink;
  }

  /* For SVG icon article */

  @font-face {
	font-family: 'geist';
	src: url('/GeistMono-wghtAxis.woff2');
}

@font-face {
	font-family: 'twemoji';
	src: url('/TwemojiCOLR.woff2');
}

.svg-hover-button:hover, .svg-hover-button:focus  {
	font-weight: 550;
	transition: font-weight 0.4s;
}

.svg-hover-button:hover svg, .svg-hover-button:focus svg {
	/* transition: stroke-width .4s; */
	--stroke-width: 2.25px;
}

.svg-hover-button {
	font-size: 17px;
	display: flex;
	padding-inline: 12px;
	height: 38px;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
	font-weight: 300;
	transition: font-weight 0.4s;
	font-family: ui-monospace, geist, system-ui;
	border: 0;
	background-color: rgb(181, 252, 157);
	border-radius: 4px;
	cursor: pointer;
	margin-top: 24px;
	color: rgb(39, 66, 30);
}

.twitter-tweet {
	margin-inline: auto;
}

.baseline-status {
	margin-top: 24px;
}

/* the following styles are for the portal article */

dialog::backdrop {
	background-color: rgba(0,0,0,.5);
  }

  .portal {
	anchor-name: --portal;
  }
  
  .outside {
	position: absolute;
	position-anchor: --portal;
	height: anchor-size();
	width: anchor-size();
	position-area: center;
	object-fit: cover;
	border-radius: 10px;
  }
  
  .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	max-width: 400px;
	margin-inline: auto;
	animation: resize 3s infinite;
  }
  
  .grid > div {
	aspect-ratio: 1;
	outline: solid 2px var(--accent-light);
	border-radius: 10px;
  }

  @supports not (height: anchor-size()) {
	.outside {
		position: static;
		width: 100px;
		height: 100px;
	}
  }

  .simple-button {
	font-family: system-ui;
	font-size: 15px;
	font-weight: 450;
    padding: 8px 12px;
	border: 0;
	border-radius: 6px;
	background-color: rgb(230,230,230);
  }

  @font-face {
	font-family: 'comic-colr';
	src: url('/comic-helvetic-rasterized-colr-COLRv1.otf');
  }

  .comic-colr {
	font-family: comic-colr;
	font-size: 42px;
  }

  @supports not (font-tech(color-COLRv1)) {
	.cringe {
		display: none !important;
	}
}

@view-transition {
	navigation: auto;
}

.accordion-summary {
    padding-block: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
	user-select: none;
	gap: 12px;
}

.accordion-summary::after {
    transition: rotate .3s;
    transition-timing-function: ease-out;
	width: 11px;
    height: 6px;
    content: "";
    background-repeat: no-repeat;
    background-image: url(/chevron-small.svg);
	flex-shrink: 0;
}

.accordion-details[open] summary::after {
    rotate: 180deg;
}

.accordion-details > div {
	padding-bottom: 12px;
}

.accordion-details {
	font-size: 16px;
    interpolate-size: allow-keywords;
    border-bottom: solid 1px #e4e4e7;
}

.accordion-details::details-content {
    height: 0;
    overflow-y: clip;
    transition: content-visibility .3s allow-discrete, block-size .3s;
    transition-timing-function: ease-out;
}

.accordion-details::details-content::after {
	content: "";
	display: block;
	padding-bottom: 12px;
}

.accordion-details[open]::details-content {
    height: auto;
}



.custom-select, ::picker(select) {
    appearance: base-select;
    border: solid 1px #CBD5E1;
    color: #334155;
    border-radius: 6px;
    font-size: 14px;
}

.custom-select {
    gap: 24px;
	align-items: center;
    padding: 6px 10px;
    box-shadow: rgba(0 0 0 / 4%) 0 2px 4px;

    &:hover, &:open {
        background-color: #f7f8f9;
    }
}

::picker(select) {
    box-shadow: rgba(0 0 0 / 6%) 0 4px 5px;
    padding: 5px;
    top: 3px;
    bottom: 3px;
	scrollbar-width: thin;
}

::picker-icon {
    content: url(/select-chevron.svg);
    height: 16px;
    position: relative;
    top: .5px;
}

.custom-select option {
    justify-content: space-between;
    padding-block: 4px;
    padding-inline: 8px;
    border-radius: 6px;
    align-items: center;

    &:hover, &:active {
    background-color: #F1F5F9;
    }
}

option::checkmark {
    order: 1;
    height: 16px;
    content: url(/select-tick.svg);
}