---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>The focus of this blog is new browser API's and the latest features in CSS, HTML and JavaScript.
</p>
<p>I might also post about web animation, Figma, UX and UI design, Bun, Deno and JavaScript frameworks (Solid JS, React, Remix...)
</p>
<p>This blog is written by Ollie Williams, a London-based UI/UX designer.
</p>
<p>My previous articles can be read on <a href="https://css-tricks.com/author/olliew/">CSS Tricks</a>.</p>

<p>This website was built with Astro.</p>
</Layout>
