---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" style="height:auto;width:230px;fill:none; display: block;" viewBox="0 0 257 48">
			<g class="astro-3EF6KSR2" clip-path="url(#clip0_415_303)">
			  <path d="M4.0642 42.1738C11.5 28 92.5 39 127.551 32.0094c5.63-.9032 4.914 1.8981 4.766 2.285-3.049 7.973-12.868 8.8369 1.713 9.2766 1.483.0447 2.966.1873 4.449.1341 38.697-1.385 74.288-12.5063 113.879-11.3124" class="astro-3EF6KSR2" stroke="url(#paint0_linear_415_303)" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="7.4509"></path>
			  <path d="M7 30.9898V1.9082h15.2251v4.6759H11.904v7.7551h9.2947v4.6188H11.961v12.0318H7zm28.3974.3992c-2.7942 0-4.961-.7413-6.5577-2.2809-1.5966-1.5396-2.3949-3.7065-2.3949-6.3866V9.0931h4.961v13.5714c0 1.4256.3421 2.509 1.0834 3.3073.6272.7413 1.6537 1.0835 2.9082 1.0835s2.2238-.3422 2.9081-1.0835c.6843-.7983 1.0835-1.8817 1.0835-3.3073V9.0931h4.9609v13.6284c0 2.6801-.7983 4.847-2.4519 6.3866-1.5967 1.5396-3.7635 2.2809-6.5006 2.2809zm23.5504-.3992c-1.4256 0-2.6801-.2851-3.7635-.8553-1.0835-.6273-1.9388-1.4256-2.509-2.509-.6273-1.0264-.9124-2.2809-.9124-3.7065V6.413h-2.566V1.9082h7.527V23.919c0 .7983.2281 1.4256.6843 1.8818.5132.5132 1.1404.6842 1.9387.6842h3.1933v4.5048h-3.5924zm15.7383 0c-1.4256 0-2.6801-.2851-3.7635-.8553-1.0835-.6273-1.8818-1.4256-2.509-2.509-.6273-1.0264-.9124-2.2809-.9124-3.7065V6.413h-2.566V1.9082h7.527V23.919c0 .7983.2851 1.4256.6843 1.8818.5132.5132 1.1404.6842 1.9387.6842h3.1933v4.5048h-3.5924zm11.5756 7.1849l3.0792-8.3253-8.1542-20.7563h5.4171l4.0487 11.1764c.2281.6273.4561 1.3686.6842 2.281.2281.8553.3422 1.5396.4562 2.1098.1141-.5702.2851-1.2545.5132-2.1098.2281-.9124.3992-1.6537.6273-2.281l3.8205-11.1764H102L91.4508 38.1747h-5.1891zM122.17 30.9526c-1.914 0-3.508-.3189-4.864-.9568-1.356-.638-2.392-1.5151-3.19-2.7112-.638-1.1164-1.036-2.3125-1.116-3.8275 0-.319.159-.4785.478-.4785h2.233c.239 0 .479.1595.479.4785.079 1.3556.638 2.4719 1.594 3.2693 1.037.9569 2.552 1.3556 4.386 1.3556 1.754 0 3.11-.3987 4.067-1.2758 1.036-.8772 1.595-2.0733 1.595-3.6681 0-1.2758-.399-2.3922-1.037-3.2693-.718-.9569-1.675-1.6746-2.95-1.9935l-3.828-1.2759c-1.993-.5582-3.508-1.515-4.625-2.9504-1.036-1.515-1.595-3.1896-1.595-5.0236 0-1.5948.319-2.9504 1.037-4.0667.718-1.1961 1.675-2.0733 2.95-2.7112 1.276-.6379 2.791-.9569 4.466-.9569 2.552 0 4.545.7177 6.06 2.153 1.515 1.4353 2.313 3.2694 2.313 5.6616h-3.19c0-1.5151-.478-2.7112-1.356-3.5883-.957-.8772-2.232-1.3556-3.907-1.3556-1.595 0-2.871.3987-3.827 1.1961-.878.7974-1.356 1.9137-1.356 3.3491 0 1.1961.319 2.3124 1.037 3.2693.717.9569 1.674 1.5948 2.95 1.9935l3.748 1.1961c1.993.6379 3.508 1.6745 4.625 3.1099 1.116 1.515 1.674 3.1896 1.674 5.1831 0 1.5948-.398 2.9504-1.116 4.2262-.718 1.1164-1.754 2.0732-3.11 2.7112-1.276.6379-2.871.9568-4.625.9568zm19.776-.3987c-1.834 0-3.27-.4784-4.306-1.4353-1.037-.9569-1.515-2.3922-1.515-4.1465V11.8948c0-.319-.16-.4785-.479-.4785h-7.735c-.319 0-.478-.1595-.478-.4784V8.5457h8.213c.319 0 .479-.1595.479-.4785V2.8044c0-.319.159-.4784.478-.4784h2.233c.319 0 .478.1594.478.4784v5.2628c0 .319.16.4785.479.4785h5.263c.318 0 .478.1595.478.4784v1.9138c0 .3189-.16.4784-.478.4784h-5.263c-.319 0-.479.1595-.479.4785v13.0773c0 1.8341.877 2.7112 2.632 2.7112h2.551c.319 0 .479.1595.479.4784v1.9138c0 .319-.239.4784-.479.4784h-2.551zm14.114.3987c-2.313 0-4.147-.5581-5.423-1.7542-1.435-1.1961-2.073-2.7909-2.073-4.8642 0-1.9935.638-3.5883 1.994-4.7047 1.275-1.1961 3.03-1.7542 5.262-1.7542h6.539c.319 0 .479-.1595.479-.4785v-1.834c0-1.5151-.399-2.6314-1.276-3.4288-.877-.7974-2.074-1.1961-3.668-1.1961-1.356 0-2.552.3189-3.429.8771-.798.5582-1.276 1.2759-1.515 2.153-.08.2392-.239.3987-.479.3987h-2.232c-.319 0-.559-.1595-.479-.4784.319-1.6746 1.196-3.0302 2.552-4.0668 1.515-1.1163 3.429-1.6745 5.661-1.6745 2.472 0 4.386.6379 5.901 1.9935 1.356 1.2758 2.153 3.1098 2.153 5.3426v14.5924c0 .319-.159.4784-.478.4784h-2.153c-.319 0-.479-.1594-.479-.4784l-.239-3.8275c.877-.2392.239-.0798.16.3987-.16 1.1961-.718 2.153-1.755 2.8706-1.276.9569-2.95 1.4353-5.023 1.4353zm.797-2.5516c1.754 0 3.19-.4785 4.306-1.2759 1.116-.9569 1.675-2.0732 1.675-3.5085v-2.791c0-.3189-.24-.4784-.479-.4784H155.9c-1.276 0-2.312.319-3.03 1.0366-.718.638-1.116 1.5948-1.116 2.7909 0 1.2759.478 2.3125 1.355 3.1099.877.7177 2.153 1.1164 3.748 1.1164zm21.653 2.5516c-1.436 0-2.951-.3189-4.226-.9568-1.276-.7177-2.313-1.6746-3.031-2.8707-.638-1.2758-1.036-2.7909-1.036-4.4654v-6.2198c0-1.6745.398-3.1896 1.036-4.4654.718-1.1961 1.755-2.153 3.031-2.8706 1.275-.638 2.79-.9569 4.226-.9569 2.312 0 4.306.6379 5.821 1.9935 1.435 1.3556 2.232 3.0301 2.392 5.1033 0 .319-.16.4785-.478.4785h-2.233c-.239 0-.479-.1595-.479-.4785-.159-1.2758-.638-2.2327-1.515-3.0301-.877-.7974-2.153-1.1961-3.508-1.1961-1.356 0-2.632.4785-3.589 1.4353-1.036.9569-1.515 2.2328-1.515 3.987v6.2198c0 1.6745.479 3.0301 1.515 3.987.957.9569 2.233 1.4353 3.589 1.4353 1.355 0 2.631-.3987 3.508-1.1961.877-.7974 1.356-1.834 1.436-3.0301.079-.319.319-.4785.558-.4785h2.233c.318 0 .478.1595.478.4785-.16 2.0732-.957 3.7478-2.392 5.1033-1.515 1.3556-3.509 1.9935-5.821 1.9935zm12.004-.8771V1.8475c0-.319.159-.4784.478-.4784h2.233c.319 0 .478.2392.478.4784v15.4696c0 .3189.16.4784.479.4784h3.668c.239 0 .478-.1595.638-.3189l6.06-8.612c.16-.1594.399-.3189.638-.3189h2.552c.398 0 .558.2392.319.5582l-6.778 9.6485c-.16.1595-.16.3987 0 .6379l6.857 10.6055c.16.3189.08.5581-.319.5581h-2.631c-.239 0-.478-.1594-.638-.3189l-6.06-9.3296c-.16-.1595-.399-.319-.638-.319h-3.668c-.319 0-.479.1595-.479.4785v9.0106c0 .319-.159.4784-.478.4784h-2.233c-.319 0-.478-.2392-.478-.4784zm29.583.8771c-1.674 0-3.109-.3189-4.385-.9568-1.276-.7177-2.233-1.6746-2.951-2.9504-.638-1.2759-1.036-2.7112-1.036-4.3857v-6.2198c0-1.6745.398-3.1896 1.036-4.3857.718-1.2758 1.675-2.2327 2.951-2.8706 1.276-.7177 2.711-1.0366 4.385-1.0366 1.755 0 3.27.3189 4.466 1.0366 1.276.6379 2.233 1.5948 2.95 2.8706.718 1.1961 1.037 2.7112 1.037 4.3857v3.4289c0 .3189-.239.4784-.479.4784h-12.678c-.319 0-.479.1595-.479.4784v1.8341c0 1.834.399 3.1896 1.356 4.1465.877.9568 2.153 1.4353 3.827 1.4353 1.436 0 2.632-.2392 3.509-.7974.797-.4785 1.276-1.1164 1.595-2.0733.08-.2392.239-.3987.478-.3987h2.233c.319 0 .558.1595.478.5582-.398 1.5948-1.275 2.8707-2.551 3.8275-1.595 1.0367-3.429 1.5948-5.742 1.5948zm5.343-13.5558v-.9569c0-1.834-.478-3.1896-1.356-4.1464-.877-.9569-2.232-1.4354-3.987-1.4354-1.674 0-2.95.4785-3.827 1.4354-.957.9568-1.356 2.3124-1.356 4.1464v.9569c0 .319.16.4785.479.4785h10.047v-.4785zm15.39 13.5558c-2.153 0-3.987-.7176-5.343-2.1529-1.276-1.5151-1.993-3.5086-1.993-5.9805v-6.5387c0-2.472.717-4.4655 1.993-5.9805 1.356-1.4354 3.11-2.153 5.343-2.153 1.834 0 3.349.4784 4.465 1.515.718.7177 1.276 1.5151 1.515 2.5517.08.4785-.159.9569-.239.7974-.159-.3189-.239-.5582-.159-.5582.319 0 .478-.1594.478-.4784V1.8475c0-.319.16-.4784.479-.4784h2.153c.319 0 .478.1595.478.4784v28.228c0 .319-.159.4784-.478.4784h-2.153c-.319 0-.479-.1594-.479-.4784v-2.9504c0-.3189-.159-.4784-.399-.4784-.239 0-.319-.2392-.159-.3987.239-.319.638-.2392.558.2392-.159 1.1961-.718 2.2327-1.595 2.9504-1.116 1.0366-2.631 1.515-4.465 1.515zm.957-2.7909c1.595 0 2.87-.4784 3.748-1.4353.877-.9569 1.355-2.3124 1.355-4.0667v-6.2198c0-1.7542-.478-3.1098-1.355-4.0667-.878-.9569-2.153-1.4353-3.748-1.4353-1.515 0-2.791.4784-3.668 1.4353-.957.9569-1.436 2.3125-1.436 4.0667v6.2198c0 1.7543.479 3.1098 1.436 4.0667.877.9569 2.153 1.4353 3.668 1.4353z" class="astro-3EF6KSR2" fill="rgb(40, 39, 40)"></path>
			</g>
			<defs class="astro-3EF6KSR2">
			  <linearGradient class="astro-3EF6KSR2" gradientUnits="userSpaceOnUse" id="paint0_linear_415_303" x1="161.889" x2="9.8217" y1="33.7227" y2="37.7868">
				<stop class="astro-3EF6KSR2" stop-color="#54A6FF"></stop>
				<stop class="astro-3EF6KSR2" stop-color="#0B80FF" offset="1"></stop>
			  </linearGradient>
			  <clipPath class="astro-3EF6KSR2" id="clip0_415_303">
				<path d="M0 0h257v48H0z" class="astro-3EF6KSR2" fill="#fff"></path>
			  </clipPath>
			</defs>
		  </svg></a></h2>
		<div class="social-links">
			<HeaderLink href="/about">About</HeaderLink>
			<a href="https://twitter.com/hypeddev" target="_blank">
				<span class="sr-only">Follow Ollie Williams on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a>
			<a href="https://github.com/o-t-w" target="_blank">
				<span class="sr-only">Go to Ollie William's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		/* background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%); */
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		@media(min-width: 600px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
