---
import { SITE } from "@config";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo">

          <svg style="height: auto; width: 230px; fill: none" width="261" height="58" viewBox="0 0 261 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.98">
            <path d="M4.06424 50.1737C6.69539 46.6292 20.0878 47.058 24.9542 46.5415C59.0189 42.9253 93.6399 44.4483 127.551 39.0093C133.181 38.1061 132.465 40.9074 132.317 41.2943C129.268 49.2673 119.449 50.1312 134.03 50.5709C135.513 50.6156 136.996 50.7582 138.479 50.705C177.176 49.32 212.767 38.1987 252.358 39.3926" stroke="url(#paint0_linear_383_381)" stroke-width="7.45095" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <g clip-path="url(#clip0_383_381)" filter="url(#filter0_d_383_381)">
            <path fill="rgb(var(--color-text-base))" d="M7 37.9898V8.9082H22.2251V13.5841H11.904V21.3392H21.1987V25.958H11.961V37.9898H7ZM35.3974 38.389C32.6032 38.389 30.4364 37.6477 28.8397 36.1081C27.2431 34.5685 26.4448 32.4016 26.4448 29.7215V16.0931H31.4058V29.6645C31.4058 31.0901 31.7479 32.1735 32.4892 32.9718C33.1164 33.7131 34.1429 34.0553 35.3974 34.0553C36.6519 34.0553 37.6212 33.7131 38.3055 32.9718C38.9898 32.1735 39.389 31.0901 39.389 29.6645V16.0931H44.3499V29.7215C44.3499 32.4016 43.5516 34.5685 41.898 36.1081C40.3013 37.6477 38.1345 38.389 35.3974 38.389ZM58.9478 37.9898C57.5222 37.9898 56.2677 37.7047 55.1843 37.1345C54.1008 36.5072 53.2455 35.7089 52.6753 34.6255C52.048 33.5991 51.7629 32.3446 51.7629 30.919V13.413H49.1969V8.9082H56.7239V30.919C56.7239 31.7173 56.952 32.3446 57.4082 32.8008C57.9214 33.314 58.5486 33.485 59.3469 33.485H62.5402V37.9898H58.9478ZM74.6861 37.9898C73.2605 37.9898 72.006 37.7047 70.9226 37.1345C69.8391 36.5072 69.0408 35.7089 68.4136 34.6255C67.7863 33.5991 67.5012 32.3446 67.5012 30.919V13.413H64.9352V8.9082H72.4622V30.919C72.4622 31.7173 72.7473 32.3446 73.1465 32.8008C73.6597 33.314 74.2869 33.485 75.0852 33.485H78.2785V37.9898H74.6861ZM86.2617 45.1747L89.3409 36.8494L81.1867 16.0931H86.6038L90.6525 27.2695C90.8806 27.8968 91.1086 28.6381 91.3367 29.5505C91.5648 30.4058 91.6789 31.0901 91.7929 31.6603C91.907 31.0901 92.078 30.4058 92.3061 29.5505C92.5342 28.6381 92.7053 27.8968 92.9334 27.2695L96.7539 16.0931H102L91.4508 45.1747H86.2617Z" fill="white"/>
            </g>
            <g filter="url(#filter1_d_383_381)">
            <path fill="rgb(var(--color-text-base))" d="M122.17 37.9526C120.256 37.9526 118.662 37.6337 117.306 36.9958C115.95 36.3578 114.914 35.4807 114.116 34.2846C113.478 33.1682 113.08 31.9721 113 30.4571C113 30.1381 113.159 29.9786 113.478 29.9786H115.711C115.95 29.9786 116.19 30.1381 116.19 30.4571C116.269 31.8127 116.828 32.929 117.784 33.7264C118.821 34.6833 120.336 35.082 122.17 35.082C123.924 35.082 125.28 34.6833 126.237 33.8062C127.273 32.929 127.832 31.7329 127.832 30.1381C127.832 28.8623 127.433 27.7459 126.795 26.8688C126.077 25.9119 125.12 25.1942 123.845 24.8753L120.017 23.5994C118.024 23.0412 116.509 22.0844 115.392 20.649C114.356 19.134 113.797 17.4594 113.797 15.6254C113.797 14.0306 114.116 12.675 114.834 11.5587C115.552 10.3626 116.509 9.48543 117.784 8.84751C119.06 8.20959 120.575 7.89062 122.25 7.89062C124.802 7.89062 126.795 8.60829 128.31 10.0436C129.825 11.4789 130.623 13.313 130.623 15.7052H127.433C127.433 14.1901 126.955 12.994 126.077 12.1169C125.12 11.2397 123.845 10.7613 122.17 10.7613C120.575 10.7613 119.299 11.16 118.343 11.9574C117.465 12.7548 116.987 13.8711 116.987 15.3065C116.987 16.5026 117.306 17.6189 118.024 18.5758C118.741 19.5327 119.698 20.1706 120.974 20.5693L124.722 21.7654C126.715 22.4033 128.23 23.4399 129.347 24.8753C130.463 26.3903 131.021 28.0649 131.021 30.0584C131.021 31.6532 130.623 33.0088 129.905 34.2846C129.187 35.401 128.151 36.3578 126.795 36.9958C125.519 37.6337 123.924 37.9526 122.17 37.9526ZM141.946 37.5539C140.112 37.5539 138.676 37.0755 137.64 36.1186C136.603 35.1617 136.125 33.7264 136.125 31.9721V18.8948C136.125 18.5758 135.965 18.4163 135.646 18.4163H127.911C127.592 18.4163 127.433 18.2568 127.433 17.9379V15.5457H135.646C135.965 15.5457 136.125 15.3862 136.125 15.0672V9.80439C136.125 9.48543 136.284 9.32595 136.603 9.32595H138.836C139.155 9.32595 139.314 9.48543 139.314 9.80439V15.0672C139.314 15.3862 139.474 15.5457 139.793 15.5457H145.056C145.374 15.5457 145.534 15.7052 145.534 16.0241V17.9379C145.534 18.2568 145.374 18.4163 145.056 18.4163H139.793C139.474 18.4163 139.314 18.5758 139.314 18.8948V31.9721C139.314 33.8062 140.191 34.6833 141.946 34.6833H144.497C144.816 34.6833 144.976 34.8428 144.976 35.1617V37.0755C144.976 37.3945 144.737 37.5539 144.497 37.5539H141.946ZM156.06 37.9526C153.747 37.9526 151.913 37.3945 150.637 36.1984C149.202 35.0023 148.564 33.4075 148.564 31.3342C148.564 29.3407 149.202 27.7459 150.558 26.6295C151.833 25.4334 153.588 24.8753 155.82 24.8753H162.359C162.678 24.8753 162.838 24.7158 162.838 24.3968V22.5628C162.838 21.0477 162.439 19.9314 161.562 19.134C160.685 18.3366 159.488 17.9379 157.894 17.9379C156.538 17.9379 155.342 18.2568 154.465 18.815C153.667 19.3732 153.189 20.0909 152.95 20.968C152.87 21.2072 152.711 21.3667 152.471 21.3667H150.239C149.92 21.3667 149.68 21.2072 149.76 20.8883C150.079 19.2137 150.956 17.8581 152.312 16.8215C153.827 15.7052 155.741 15.147 157.973 15.147C160.445 15.147 162.359 15.7849 163.874 17.1405C165.23 18.4163 166.027 20.2503 166.027 22.4831V37.0755C166.027 37.3945 165.868 37.5539 165.549 37.5539H163.396C163.077 37.5539 162.917 37.3945 162.917 37.0755L162.678 33.248C163.555 33.0088 162.917 33.1682 162.838 33.6467C162.678 34.8428 162.12 35.7997 161.083 36.5173C159.807 37.4742 158.133 37.9526 156.06 37.9526ZM156.857 35.401C158.611 35.401 160.047 34.9225 161.163 34.1251C162.279 33.1682 162.838 32.0519 162.838 30.6166V27.8256C162.838 27.5067 162.598 27.3472 162.359 27.3472H155.9C154.624 27.3472 153.588 27.6662 152.87 28.3838C152.152 29.0218 151.754 29.9786 151.754 31.1747C151.754 32.4506 152.232 33.4872 153.109 34.2846C153.986 35.0023 155.262 35.401 156.857 35.401ZM178.51 37.9526C177.074 37.9526 175.559 37.6337 174.284 36.9958C173.008 36.2781 171.971 35.3212 171.253 34.1251C170.615 32.8493 170.217 31.3342 170.217 29.6597V23.4399C170.217 21.7654 170.615 20.2503 171.253 18.9745C171.971 17.7784 173.008 16.8215 174.284 16.1039C175.559 15.4659 177.074 15.147 178.51 15.147C180.822 15.147 182.816 15.7849 184.331 17.1405C185.766 18.4961 186.563 20.1706 186.723 22.2438C186.723 22.5628 186.563 22.7223 186.245 22.7223H184.012C183.773 22.7223 183.533 22.5628 183.533 22.2438C183.374 20.968 182.895 20.0111 182.018 19.2137C181.141 18.4163 179.865 18.0176 178.51 18.0176C177.154 18.0176 175.878 18.4961 174.921 19.4529C173.885 20.4098 173.406 21.6857 173.406 23.4399V29.6597C173.406 31.3342 173.885 32.6898 174.921 33.6467C175.878 34.6036 177.154 35.082 178.51 35.082C179.865 35.082 181.141 34.6833 182.018 33.8859C182.895 33.0885 183.374 32.0519 183.454 30.8558C183.533 30.5368 183.773 30.3773 184.012 30.3773H186.245C186.563 30.3773 186.723 30.5368 186.723 30.8558C186.563 32.929 185.766 34.6036 184.331 35.9591C182.816 37.3147 180.822 37.9526 178.51 37.9526ZM190.514 37.0755V8.84751C190.514 8.52855 190.673 8.36907 190.992 8.36907H193.225C193.544 8.36907 193.703 8.60829 193.703 8.84751V24.3171C193.703 24.636 193.863 24.7955 194.182 24.7955H197.85C198.089 24.7955 198.328 24.636 198.488 24.4766L204.548 15.8646C204.708 15.7052 204.947 15.5457 205.186 15.5457H207.738C208.136 15.5457 208.296 15.7849 208.057 16.1039L201.279 25.7524C201.119 25.9119 201.119 26.1511 201.279 26.3903L208.136 36.9958C208.296 37.3147 208.216 37.5539 207.817 37.5539H205.186C204.947 37.5539 204.708 37.3945 204.548 37.235L198.488 27.9054C198.328 27.7459 198.089 27.5864 197.85 27.5864H194.182C193.863 27.5864 193.703 27.7459 193.703 28.0649V37.0755C193.703 37.3945 193.544 37.5539 193.225 37.5539H190.992C190.673 37.5539 190.514 37.3147 190.514 37.0755ZM220.097 37.9526C218.423 37.9526 216.988 37.6337 215.712 36.9958C214.436 36.2781 213.479 35.3212 212.761 34.0454C212.123 32.7695 211.725 31.3342 211.725 29.6597V23.4399C211.725 21.7654 212.123 20.2503 212.761 19.0542C213.479 17.7784 214.436 16.8215 215.712 16.1836C216.988 15.4659 218.423 15.147 220.097 15.147C221.852 15.147 223.367 15.4659 224.563 16.1836C225.839 16.8215 226.796 17.7784 227.513 19.0542C228.231 20.2503 228.55 21.7654 228.55 23.4399V26.8688C228.55 27.1877 228.311 27.3472 228.071 27.3472H215.393C215.074 27.3472 214.914 27.5067 214.914 27.8256V29.6597C214.914 31.4937 215.313 32.8493 216.27 33.8062C217.147 34.763 218.423 35.2415 220.097 35.2415C221.533 35.2415 222.729 35.0023 223.606 34.4441C224.403 33.9656 224.882 33.3277 225.201 32.3708C225.281 32.1316 225.44 31.9721 225.679 31.9721H227.912C228.231 31.9721 228.47 32.1316 228.39 32.5303C227.992 34.1251 227.115 35.401 225.839 36.3578C224.244 37.3945 222.41 37.9526 220.097 37.9526ZM225.44 24.3968V23.4399C225.44 21.6059 224.962 20.2503 224.084 19.2935C223.207 18.3366 221.852 17.8581 220.097 17.8581C218.423 17.8581 217.147 18.3366 216.27 19.2935C215.313 20.2503 214.914 21.6059 214.914 23.4399V24.3968C214.914 24.7158 215.074 24.8753 215.393 24.8753H223.287C223.606 24.8753 225.36 24.8753 225.44 24.8753C225.44 24.7158 225.44 24.7955 225.44 24.3968ZM240.83 37.9526C238.677 37.9526 236.843 37.235 235.487 35.7997C234.211 34.2846 233.494 32.2911 233.494 29.8192V23.2805C233.494 20.8085 234.211 18.815 235.487 17.3C236.843 15.8646 238.597 15.147 240.83 15.147C242.664 15.147 244.179 15.6254 245.295 16.662C246.013 17.3797 246.571 18.1771 246.81 19.2137C246.89 19.6922 246.651 20.1706 246.571 20.0111C246.412 19.6922 246.332 19.4529 246.412 19.4529C246.731 19.4529 246.89 19.2935 246.89 18.9745V14.5888V8.84751C246.89 8.52855 247.05 8.36907 247.369 8.36907H249.522C249.841 8.36907 250 8.52855 250 8.84751V37.0755C250 37.3945 249.841 37.5539 249.522 37.5539H247.369C247.05 37.5539 246.89 37.3945 246.89 37.0755V34.1251C246.89 33.8062 246.731 33.6467 246.491 33.6467C246.252 33.6467 246.172 33.4075 246.332 33.248C246.571 32.929 246.97 33.0088 246.89 33.4872C246.731 34.6833 246.172 35.7199 245.295 36.4376C244.179 37.4742 242.664 37.9526 240.83 37.9526ZM241.787 35.1617C243.382 35.1617 244.657 34.6833 245.535 33.7264C246.412 32.7695 246.89 31.414 246.89 29.6597V23.4399C246.89 21.6857 246.412 20.3301 245.535 19.3732C244.657 18.4163 243.382 17.9379 241.787 17.9379C240.272 17.9379 238.996 18.4163 238.119 19.3732C237.162 20.3301 236.683 21.6857 236.683 23.4399V29.6597C236.683 31.414 237.162 32.7695 238.119 33.7264C238.996 34.6833 240.272 35.1617 241.787 35.1617Z" fill="white"/>
            </g>
            </g>
            <defs>
            <linearGradient id="paint0_linear_383_381" x1="161.889" y1="40.7226" x2="9.82173" y2="44.7867" gradientUnits="userSpaceOnUse">
            <stop stop-color="#54A6FF"/>
            <stop offset="1" stop-color="#0B80FF"/>
            </linearGradient>
            <clipPath id="clip0_383_381">
            <rect width="95" height="36.2665" fill="white" transform="translate(7 8.9082)"/>
            </clipPath>
            </defs>
            </svg>
            
        
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <div class="icon-container flex">
            <div id="first-line"></div>
            <div id="second-line"></div>
            <div id="third-line"></div>
          </div>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts" class={activeNav === "posts" ? "active" : ""}>
              Posts
            </a>
          </li>
          <li>
            <a href="/tags" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/about" class={activeNav === "about" ? "active" : ""}>
              About
            </a>
          </li>
          <li>
            <LinkButton
              href="/search"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              }`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
            </LinkButton>
          </li>
          <li>
            {
              SITE.lightAndDarkMode && (
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              )
            }
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent py-2 px-3 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center bg-skin-fill sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-y-2 gap-x-2 sm:mt-0 sm:ml-0 sm:w-auto sm:gap-y-0 sm:gap-x-5;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-child(4) a {
    @apply w-auto;
  }
  nav ul li:nth-child(4),
  nav ul li:nth-child(5) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .icon-container {
    @apply h-5 w-6 flex-col items-end justify-between;
  }
  .icon-container div {
    @apply h-0.5 bg-skin-inverted transition-all;
  }
  #first-line {
    @apply w-full;
  }
  #second-line {
    @apply w-3/4;
  }
  #third-line {
    @apply w-1/2;
  }
</style>

<script>
  // Toggle menu
  const menuBtn = document.querySelector(".hamburger-menu");
  const menuItems = document.querySelector("#menu-items")?.classList;

  const iconContainer = document.querySelector(".icon-container")?.classList;
  const firstLine = document.querySelector("#first-line")?.classList;
  const secondLine = document.querySelector("#second-line ")?.classList;
  const thirdLine = document.querySelector("#third-line")?.classList;

  menuBtn?.addEventListener("click", function () {
    const menuExpanded = menuBtn?.getAttribute("aria-expanded");
    if (menuExpanded === "false") {
      menuBtn?.setAttribute("aria-expanded", "true");
      menuBtn?.setAttribute("aria-label", "Close Menu");
      menuItems?.remove("display-none");

      // icon animation
      iconContainer?.remove("flex");
      iconContainer?.add("relative");
      firstLine?.add("rotate-45", "absolute", "bottom-1/2");
      thirdLine?.add("display-none");
      secondLine?.add("!w-full", "-rotate-45", "absolute", "bottom-1/2");
    } else {
      menuBtn?.setAttribute("aria-expanded", "false");
      menuBtn?.setAttribute("aria-label", "Open Menu");
      menuItems?.add("display-none");

      // icon animation
      iconContainer?.add("flex");
      iconContainer?.remove("relative");
      firstLine?.remove("rotate-45", "absolute", "bottom-1/2");
      thirdLine?.remove("display-none");
      secondLine?.remove("!w-full", "-rotate-45", "absolute", "bottom-1/2");
    }
  });
</script>
