---
import { SITE } from "@config";
import LinkButton from "./LinkButton.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="logo">
        <svg
          style="height: auto; width: 230px; fill: none"
          xmlns="http://www.w3.org/2000/svg"
          width="385"
          height="87"
          fill="none"
          viewBox="0 0 385 87"
          ><g clip-path="url(#a)"
            ><path
              stroke="url(#b)"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              stroke-width="11"
              d="M6 74.953c3.884-5.233 23.656-4.6 30.84-5.363 27.956-2.967 54.815-4.702 82.84-4.702 16.96-2.72 23.566-1.135 40.59-3.444 5.848-.794 22.205-2.038 28.036-2.974 8.312-1.333 7.255 2.803 7.036 3.374-4.501 11.77-18.997 13.046 2.529 13.695 2.189.066 4.379.277 6.568.198 18.332-.656 36.372-5.677 54.186-9.273 37.085-7.487 77.305-8.577 115.413-7.428"
            ></path><path
              fill="rgb(var(--color-text-base))"
              d="M.328 55.88V16.385h24.563v6.276H6.983v10.55h16.502v6.276H7.09V55.88H.328ZM43.59 56.421c-3.787 0-6.763-1.046-8.927-3.138-2.164-2.128-3.246-5.013-3.246-8.656V26.123h6.763v18.45c0 1.911.469 3.39 1.406 4.436.938 1.01 2.273 1.515 4.004 1.515 1.695 0 3.012-.505 3.95-1.515.974-1.046 1.46-2.525 1.46-4.436v-18.45h6.763v18.504c0 3.643-1.1 6.528-3.3 8.656-2.2 2.092-5.158 3.138-8.873 3.138ZM79.494 55.88c-1.948 0-3.661-.396-5.14-1.19a8.705 8.705 0 0 1-3.409-3.354c-.83-1.48-1.244-3.174-1.244-5.086V22.498h-6.522v-6.113h13.285V46.25c0 1.082.306 1.948.92 2.597.649.613 1.515.92 2.597.92h8.98v6.113h-9.467ZM107.853 55.88c-1.948 0-3.661-.396-5.14-1.19a8.705 8.705 0 0 1-3.409-3.354c-.83-1.48-1.244-3.174-1.244-5.086V22.498h-6.522v-6.113h13.285V46.25c0 1.082.306 1.948.92 2.597.649.613 1.515.92 2.597.92h8.981v6.113h-9.468ZM127.417 65.619l4.166-11.362-11.091-28.134h7.412l5.519 15.204c.288.83.577 1.84.865 3.03.289 1.154.505 2.11.649 2.867.181-.758.415-1.713.704-2.868.288-1.19.577-2.2.865-3.03l5.194-15.203h7.142L134.505 65.62h-7.088ZM179.776 56.421c-2.525 0-4.707-.432-6.547-1.298-1.839-.866-3.264-2.092-4.274-3.68-1.01-1.622-1.533-3.552-1.569-5.788h4.328c0 2.128.722 3.823 2.164 5.085 1.443 1.227 3.409 1.84 5.898 1.84 2.38 0 4.238-.595 5.572-1.785 1.371-1.19 2.056-2.832 2.056-4.924 0-1.731-.469-3.228-1.407-4.49-.937-1.299-2.254-2.2-3.949-2.706l-5.14-1.623c-2.705-.793-4.797-2.146-6.276-4.057-1.443-1.948-2.164-4.22-2.164-6.817 0-2.129.469-3.95 1.407-5.465.937-1.55 2.254-2.76 3.949-3.625 1.731-.866 3.751-1.298 6.06-1.298 3.426 0 6.168.955 8.224 2.867 2.055 1.912 3.083 4.473 3.083 7.683h-4.274c0-2.056-.631-3.68-1.893-4.87-1.263-1.19-2.994-1.785-5.194-1.785-2.201 0-3.932.541-5.194 1.623-1.227 1.046-1.84 2.543-1.84 4.49 0 1.696.469 3.175 1.407 4.437.938 1.263 2.254 2.164 3.949 2.705l5.14 1.623c2.669.83 4.743 2.237 6.222 4.22 1.479 1.984 2.218 4.31 2.218 6.98 0 2.128-.505 4.004-1.514 5.627-.974 1.587-2.363 2.831-4.166 3.733-1.768.866-3.86 1.298-6.276 1.298Zm34.388-.54c-2.488 0-4.418-.65-5.789-1.948-1.37-1.335-2.056-3.21-2.056-5.627V30.019h-8.44v-3.896h8.44v-8.386h4.329v8.386h11.956v3.896h-11.956v18.287c0 2.453 1.172 3.679 3.516 3.679h7.899v3.895h-7.899Zm25.787.54c-3.138 0-5.609-.793-7.413-2.38-1.803-1.623-2.705-3.805-2.705-6.547 0-2.705.884-4.833 2.651-6.384 1.768-1.587 4.148-2.38 7.142-2.38h9.468v-3.138c0-1.984-.577-3.517-1.731-4.6-1.154-1.081-2.796-1.622-4.924-1.622-1.875 0-3.444.414-4.707 1.244-1.226.83-1.929 1.948-2.11 3.354h-4.328c.361-2.56 1.551-4.598 3.571-6.113 2.056-1.515 4.617-2.273 7.683-2.273 3.318 0 5.951.902 7.899 2.706 1.947 1.767 2.921 4.165 2.921 7.195V55.88h-4.22v-5.789h-.703l.811-.865c0 2.2-.847 3.95-2.542 5.248-1.696 1.298-3.95 1.947-6.763 1.947Zm1.028-3.462c2.38 0 4.328-.595 5.843-1.786 1.515-1.19 2.272-2.74 2.272-4.653v-4.49h-9.414c-1.695 0-3.048.469-4.058 1.407-1.01.937-1.515 2.218-1.515 3.84 0 1.732.614 3.12 1.84 4.167 1.226 1.01 2.904 1.515 5.032 1.515Zm32.819 3.462c-2.308 0-4.328-.45-6.059-1.352-1.732-.902-3.084-2.182-4.058-3.842-.938-1.695-1.407-3.697-1.407-6.005v-8.44c0-2.309.469-4.292 1.407-5.952a9.818 9.818 0 0 1 4.058-3.895c1.731-.902 3.751-1.353 6.059-1.353 3.391 0 6.114.92 8.17 2.76 2.056 1.84 3.12 4.346 3.192 7.52h-4.274c-.072-2.056-.74-3.643-2.002-4.761-1.226-1.118-2.922-1.677-5.086-1.677-2.2 0-3.949.649-5.248 1.947-1.298 1.263-1.947 3.066-1.947 5.41v8.441c0 2.308.649 4.112 1.947 5.41 1.299 1.299 3.048 1.948 5.248 1.948 2.164 0 3.86-.559 5.086-1.677 1.262-1.154 1.93-2.741 2.002-4.761h4.274c-.072 3.174-1.136 5.68-3.192 7.52-2.056 1.84-4.779 2.76-8.17 2.76Zm20.376-.54V16.384h4.274V38.62h6.114l8.819-12.498h4.978l-10.01 14.175 10.172 15.582h-5.032l-8.873-13.526h-6.168V55.88h-4.274Zm42.18.54c-2.308 0-4.31-.45-6.006-1.352a9.91 9.91 0 0 1-3.949-3.95c-.938-1.695-1.407-3.66-1.407-5.897v-8.44c0-2.273.469-4.238 1.407-5.897a9.56 9.56 0 0 1 3.949-3.896c1.696-.938 3.698-1.407 6.006-1.407 2.308 0 4.31.47 6.005 1.407a9.556 9.556 0 0 1 3.95 3.895c.938 1.66 1.407 3.625 1.407 5.898v5.248h-18.504v3.192c0 2.417.613 4.292 1.84 5.627 1.262 1.298 3.03 1.948 5.302 1.948 1.912 0 3.463-.38 4.653-1.137 1.226-.757 2.002-1.857 2.326-3.3h4.274c-.396 2.489-1.605 4.455-3.624 5.897-2.02 1.443-4.563 2.164-7.629 2.164Zm7.142-17.259v-2.38c0-2.417-.614-4.274-1.84-5.573-1.226-1.334-2.994-2.002-5.302-2.002-2.272 0-4.04.668-5.302 2.002-1.227 1.299-1.84 3.156-1.84 5.573v1.893h14.716l-.432.487Zm22.756 17.26c-2.958 0-5.356-.992-7.196-2.976-1.803-1.984-2.705-4.653-2.705-8.008V36.62c0-3.39.902-6.077 2.705-8.061 1.804-1.984 4.202-2.976 7.196-2.976 2.489 0 4.491.686 6.006 2.056 1.551 1.37 2.326 3.21 2.326 5.519l-1.136-1.786h1.028l-.054-6.492v-8.494h4.274V55.88h-4.274v-5.248h-1.136l1.298-1.785c0 2.344-.775 4.202-2.326 5.573-1.515 1.334-3.517 2.001-6.006 2.001Zm1.353-3.734c2.128 0 3.787-.649 4.977-1.948 1.227-1.334 1.84-3.174 1.84-5.518v-8.44c0-2.345-.613-4.166-1.84-5.465-1.19-1.334-2.849-2.002-4.977-2.002-2.164 0-3.86.65-5.086 1.948-1.226 1.299-1.84 3.138-1.84 5.519v8.44c0 2.38.614 4.22 1.84 5.518 1.226 1.299 2.922 1.948 5.086 1.948Z"
            ></path></g
          ><defs
            ><linearGradient
              id="b"
              x1="239"
              x2="14.5"
              y1="61"
              y2="67"
              gradientUnits="userSpaceOnUse"
              ><stop stop-color="#54A6FF"></stop><stop
                offset="1"
                stop-color="#0B80FF"></stop></linearGradient
            ><clipPath id="a"
              ><path fill="#fff" d="M0 .88h384.328v85.146H0z"></path></clipPath
            ></defs
          ></svg
        >
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <div class="icon-container flex">
            <div id="first-line"></div>
            <div id="second-line"></div>
            <div id="third-line"></div>
          </div>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts" class={activeNav === "posts" ? "active" : ""}>
              Posts
            </a>
          </li>
          <li>
            <a href="/tags" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/about" class={activeNav === "about" ? "active" : ""}>
              About
            </a>
          </li>
          <li>
            <LinkButton
              href="/search"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              }`}
              ariaLabel="search"
              title="Search"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
            </LinkButton>
          </li>
          <li>
            {
              SITE.lightAndDarkMode && (
                <button
                  id="theme-btn"
                  class="focus-outline"
                  title="Toggles light & dark"
                  aria-label="auto"
                  aria-live="polite"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                  </svg>
                </button>
              )
            }
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent py-2 px-3 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-3xl flex-col items-center justify-between sm:flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-8;
  }
  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center bg-skin-fill sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-y-2 gap-x-2 sm:mt-0 sm:ml-0 sm:w-auto sm:gap-y-0 sm:gap-x-5;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-child(4) a {
    @apply w-auto;
  }
  nav ul li:nth-child(4),
  nav ul li:nth-child(5) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base hover:fill-skin-accent;
  }
  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  .icon-container {
    @apply h-5 w-6 flex-col items-end justify-between;
  }
  .icon-container div {
    @apply h-0.5 bg-skin-inverted transition-all;
  }
  #first-line {
    @apply w-full;
  }
  #second-line {
    @apply w-3/4;
  }
  #third-line {
    @apply w-1/2;
  }
</style>

<script>
  // Toggle menu
  const menuBtn = document.querySelector(".hamburger-menu");
  const menuItems = document.querySelector("#menu-items")?.classList;

  const iconContainer = document.querySelector(".icon-container")?.classList;
  const firstLine = document.querySelector("#first-line")?.classList;
  const secondLine = document.querySelector("#second-line ")?.classList;
  const thirdLine = document.querySelector("#third-line")?.classList;

  menuBtn?.addEventListener("click", function () {
    const menuExpanded = menuBtn?.getAttribute("aria-expanded");
    if (menuExpanded === "false") {
      menuBtn?.setAttribute("aria-expanded", "true");
      menuBtn?.setAttribute("aria-label", "Close Menu");
      menuItems?.remove("display-none");

      // icon animation
      iconContainer?.remove("flex");
      iconContainer?.add("relative");
      firstLine?.add("rotate-45", "absolute", "bottom-1/2");
      thirdLine?.add("display-none");
      secondLine?.add("!w-full", "-rotate-45", "absolute", "bottom-1/2");
    } else {
      menuBtn?.setAttribute("aria-expanded", "false");
      menuBtn?.setAttribute("aria-label", "Open Menu");
      menuItems?.add("display-none");

      // icon animation
      iconContainer?.add("flex");
      iconContainer?.remove("relative");
      firstLine?.remove("rotate-45", "absolute", "bottom-1/2");
      thirdLine?.remove("display-none");
      secondLine?.remove("!w-full", "-rotate-45", "absolute", "bottom-1/2");
    }
  });
</script>
